body{
    background-color: #2B2A4C;   
}
.container{
    text-align: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    gap: 150px
}

.player-1-name, .player-2-name{
    margin: 30px 0px 70px 0px;
}

.container-player-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Sacramento", cursive;
    text-shadow: 2px 0px 5px #EEE2DE;
    font-weight: 400;
    margin: 20px 0px;
    font-size: 30px;
    color: #EA906C;
}
.container-player-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
    font-size: 30px;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    color: #EA906C;
    text-shadow: 2px 0px 5px #EEE2DE;
}
.dice{
    height: 200px;
    width: 200px;
}
h1{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 130px;
    font-weight: 100;
    font-family: "Lobster", sans-serif;
    color: #EA906C;
    text-shadow: 2px 2px 5px #350dc5;
}

h2{
    font-size: 50px;
    font-family: "Lobster", sans-serif;
    color: #EA906C;
    text-shadow: 2px 2px 5px #350dc5; 
    margin: 20px 0px; 
    margin-bottom: 40px;  
}

.button{
    display: flex;
    justify-content: center;
}
.btn{
    font-family: "Lobster", sans-serif;
    color: #EA906C;
    text-shadow: 2px 2px 5px #350dc5; 
    box-shadow: 2px 2px 5px 2px  #350dc5;
    background-color: #2B2A4C;
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    width: 100px;
}
.btn:hover{
    color: red;
    text-shadow: 2px 2px 5px white;
    box-shadow: 2px 2px 5px 2px white;
    /* background-color: red; */
}

.footer{
    margin-top: 70px;
    color: #EEE2DE;
    text-align: center;
}

@media (max-width: 600px){
    .flex-container{
        display: block;
        margin-top: 70px;
    }
    h1{
        font-size: 65px;
    }
    h2{
        font-size: 25px;
    }
    .dice{
        height: 100px;
        width: 100px;
    }
}